<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Web Agency - Second page</title>

  <link rel="stylesheet" href="style.css">

  <style>

  .bg-obliquo{min-height: 50vh;background: url(img/img-4.png) no-repeat center bottom ; }
  .bg-obliquo .button{margin-right: 20px;}

  @media (max-width: 768px) {
    .bg-obliquo .grid{ flex-direction: column-reverse;}
  }

  .img-container{position: relative;}
  .img-graph{position: absolute;bottom:0; left:0; width: 100%;}

  p{font-size: 18px;}


  </style>


</head>
<body>

  <div class="header">

    <a href="" class="header__logo"> LOGO </a>

    <ul class="header__menu">
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>

  </div>



  <div class="bg-obliquo">
    <div class="grid pt-4">
      <div class="col-50 v-center">

        <div>
          <h1>Miglioriamo le performance online della tua azienda.</h1>
        </div>

      </div>
      <div class="col-50">
        <div class="img-container">
          <img src="img/img-8.jpeg" class="img-res" alt="">
          <img src="img/img-5.png" class="img-res img-graph" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid--center pt-4 pb-4">
    <div class="col-70 text-center">
      
      <p>Loop non è una semplice web agency ma un insieme di professionisti appassionati di marketing con un unico obiettivo: migliorare la performance online della tua azienda.
        <br><br>
        Partiamo dai dati, analizziamo la situazione, creiamo una strategia, testiamo e ottimizziamo con un unico scopo: aumentare le tue vendite, incrementare il numero dei contatti che riceverai e potenziare il valore del tuo brand sul mercato.
      </p>
    </div>

    <div class="col-50 pt-3">
      <img src="img/img-7.png" class="img-res" alt="">
    </div>

    <div class="col-80 pt-3 text-center">
      <p class="pb-1">Loop non è una semplice web agency ma un insieme di professionisti appassionati di marketing con un unico obiettivo: migliorare la performance online della tua azienda.
        <br><br>
        Partiamo dai dati, analizziamo la situazione, creiamo una strategia, testiamo e ottimizziamo con un unico scopo: aumentare le tue vendite, incrementare il numero dei contatti che riceverai e potenziare il valore del tuo brand sul mercato.
      </p>
      <a href="" class="button button--round">Scopri di piu </a> <a href="" class="button button--round-outline">Contattaci </a>

    </div>
  </div>



  <div class="footer">
    <div class="grid">
      <div class="col-25">
        <h3>Footer info</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit temporibus quas sapiente excepturi praesentium dolore earum, blanditiis quibusdam et itaque non repellat illum, distinctio enim soluta culpa officia! Ex, dolore.</p>
      </div>
      <div class="col-25">
        <h3>Footer info</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit temporibus quas sapiente excepturi praesentium dolore earum, blanditiis quibusdam et itaque non repellat illum, distinctio enim soluta culpa officia! Ex, dolore.</p>
      </div>
      <div class="col-25">
        <h3>Footer info</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit temporibus quas sapiente excepturi praesentium dolore earum, blanditiis quibusdam et itaque non repellat illum, distinctio enim soluta culpa officia! Ex, dolore.</p>
      </div>
      <div class="col-25">
        <h3>Footer info</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit temporibus quas sapiente excepturi praesentium dolore earum, blanditiis quibusdam et itaque non repellat illum, distinctio enim soluta culpa officia! Ex, dolore.</p>
      </div>
    </div>
  </div>




</body>
</html>
